*{
   padding: 0;
   margin: 0;
}

body{
   background: rgb(158, 163, 185);
   font-family: 'Times New Roman', Times, serif;
   font-size: 15px;
}
#header{
 background-color: rgb(158, 163, 185);
 box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.5);
 padding-top: 25px;
 text-align: center;
 color: rgb(22, 26, 44);
 font-weight: bolder;
 font-size: 25px;
 border-radius: 5px;
 padding-bottom: 15px;
}

#container{
   padding-top: 20px;
   float: left;
   width: 90%;
   min-height: 600px;

}


#contenido {
   padding-top: 40px;
   margin: 5px 5px 5px 5px; 
   width: calc(80% - 80px);
   min-height: 500px;
   float: left;
   font-size: 17px;
}

#article  {
   padding-bottom: 25px;
   padding-top: 20px;
   text-align: justify;
}

#article img{
   width: 650px;
   height: 500px;
}

#article h2 {
   text-align: left;
   color: rgb(22, 26, 44);
   
}

#article h3{
   text-align: left;
   color: rgb(22,26, 44);
   font-style: italic;
   font-size: 13;

}

#article a {
   text-decoration: none;
}

#article a:hover {
   background-color: rgb(85, 77, 102);
   border-color: rgb(46, 5, 139) 1px solid;
}